/* 
font-family: 'Space Mono', monospace;
font-family: 'Muli', sans-serif; 
*/

@import url("https://fonts.googleapis.com/css?family=Muli:400,700,900|Space+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

.container {
  padding: 0 20px;
}

h1,
h2,
h3,
h4 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Muli", sans-serif;
}

/*============= Utils =============*/
.content {
  text-align: left;
}

.date {
  color: blue;
}

.type {
  color: #979797;
}

.Link {
  text-decoration: none;
  color: #000;
}

.Link:hover {
  text-decoration: none;
  color: #000;
}

.btn {
  font-family: "Muli", sans-serif;
  font-weight: 900;
  border: 2px solid #000;
  border-radius: 0;
  box-shadow: 3px 3px 0px 0px #000;
}

.sectionHead {
  font-size: 2.3rem;
}

.portfolioHead {
  border-bottom: 3px solid #000;
}

/*============= Project Dashboard =============*/

.portfolioList {
  display: flex;
  margin: 20px 0;
}

.portfolioList .imgBg {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .img {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
} ==== Done in JS */
