/* 
font-family: 'Space Mono', monospace;
font-family: 'Muli', sans-serif; 
font-family: 'IBM Plex Mono', monospace;
font-family: 'Fira Code', monospace;
*/

@import url("https://fonts.googleapis.com/css?family=Muli:400,700,900|Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Code&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

.container-custom {
  padding: 0 20px;
}

h1,
h2,
h3,
h4 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
}

p {
  font-family: "Muli", sans-serif;
}

/*============= Utils =============*/
.my-1 {
  margin: 10px 0;
}
.my-2 {
  margin: 25px 0;
}
.my-3 {
  margin: 40px 0;
}

.head {
  text-align: center;
  margin: 30px auto;
  width: 200px;
  font-size: 3rem;
  border-bottom: 1px solid currentColor;
  line-height: 1.5;
}

.content {
  text-align: left;
}

.date {
  margin: 0;
  font-family: "Fira Code", monospace;
  font-size: 1.2rem;
  color: blue;
}

.type {
  color: #979797;
  margin: 0;
}

.title {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0;
}

.Link {
  text-decoration: none;
  color: #000;
}

.Link:hover {
  text-decoration: none;
  color: #000;
}

.btn {
  margin-bottom: 30px;
  font-size: 1.5rem;
  font-family: "Muli", sans-serif;
  font-weight: 900;
  border: 2px solid #000;
  border-radius: 0;
  box-shadow: 3px 3px 0px 0px #000;
}

.sectionHead {
  font-size: 2.3rem;
}

.sectionLine {
  border-bottom: 1px solid currentColor;
  line-height: 1.5;
}

/*============= Project Dashboard =============*/

.portfolioList {
  display: flex;
  margin: 20px 0;
}

.portfolioList .imgBg {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*============= Job Dashboard =============*/
.jobList {
  display: flex;
  overflow-x: scroll;
}

/*============= Portfolio Dashboard =============*/

.portfolioEdit .portfolioButton {
  display: flex;
  justify-content: space-around;
}

/*============= Portfolio / Projects =============*/

.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  margin-bottom: 10px;
}

.projects .imgBgDark {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*============= Project =============*/

.titlePicture {
  height: 200px;
}

/*============= Jobs =============*/

.jobs {
  margin: 20px 10px 20px 0;
}

.jobs .center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jobs .center p {
  font-size: 2rem;
  font-weight: 900;
  color: #fff;
  background: blue;
  padding: 10px 20px;
}
