/* 
font-family: 'Muli', sans-serif; 
font-family: 'IBM Plex Mono', monospace;
font-family: 'Fira Code', monospace;
*/

@import url("https://fonts.googleapis.com/css?family=Muli:400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Code&display=swap");

* {
  margin: 0;
  padding: 0;
}

.App {
  max-width: 1100px;
  margin: 0 auto;
  /* padding: 0 20px; */
}

html {
  font-size: 10px;
}

h1,
h2,
h3,
h4 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
}

p {
  font-family: "Muli", sans-serif;
  font-size: 1.5rem;
}

.navItem {
  color: #000;
  text-decoration: none;
  font-size: 2rem;
}

.navItem:hover {
  color: #000;
  text-decoration: none;
}

/*============= Utils =============*/
.my-1 {
  margin: 10px 0;
}
.my-2 {
  margin: 25px 0;
}
.my-3 {
  margin: 40px 0;
}

.head {
  text-align: center;
  margin: 30px auto;
  width: 200px;
  font-size: 3rem;
  border-bottom: 1px solid currentColor;
  line-height: 1.5;
}

.content {
  text-align: left;
}

.date {
  margin: 0;
  font-family: "Fira Code", monospace;
  font-size: 1.2rem;
  color: blue;
}

.type {
  color: #979797;
  margin: 0;
}

.title {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0;
}

.Link {
  text-decoration: none;
  color: #000;
}

.Link:hover {
  text-decoration: none;
  color: #000;
}

.btn {
  margin-bottom: 30px;
  font-size: 1.5rem;
  font-family: "Muli", sans-serif;
  font-weight: 900;
  border: 2px solid #000;
  border-radius: 0;
  box-shadow: 3px 3px 0px 0px #000;
  padding: 5px 15px;
  margin: 5px 0;
}

.sectionHead {
  font-size: 2.3rem;
}

.sectionLine {
  border-bottom: 1px solid currentColor;
  line-height: 1.5;
}
/* ============================================= */
/* ============================================= */
/* Utils */
/* ============================================= */
/* ============================================= */
/* TEXT UTILS */
.text-center {
  text-align: center;
}

/* ============================================= */
/* ============================================= */
/* Login Sign in Forms */
/* ============================================= */
/* ============================================= */

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 50px auto 100px auto;
}

.form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  font-family: "Muli", sans-serif;
  font-size: 1.5rem;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: #000;

  border: solid 1px #000;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #000;
  color: #fff;
}

.buttons {
  display: flex;
}

.btn-form {
  padding: 15px 0px 15px 0px;
  margin: -5px 0px 0px 0px;
  background: none;

  width: 100%;

  font-family: "Muli", sans-serif;
  font-size: 1.5rem;
  color: #000;

  outline: none;
  cursor: pointer;

  border: solid 1px #000;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.btn-form:hover {
  background: #000;
  color: #fff;
}

.loginSignup {
  margin: 10px 0;
}

/* ============================================= */
/* ============================================= */
/* CV Forms */
/* ============================================= */
/* ============================================= */

.form-card input,
.form-fragment input {
  font-family: "Muli", sans-serif;
  font-size: 1.5rem;
  height: 35px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: #000;

  border: solid 1px #000;
  border-radius: 0;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.form-card input:hover,
.form-fragment input:hover {
  background: #000;
  color: #fff;
}

.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Muli", sans-serif;
}

.edit-form h2 {
  font-size: 2.5rem;
}

.form-fragment {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.form-fragment input {
  width: 40vw;
  margin: 10px;
}

/* ============================================= */
/* ============================================= */
/* NavBar */
/* ============================================= */
/* ============================================= */

.MobileNavBar {
  display: none;
}

.navBarPosition {
  max-width: 1100px;
  display: flex;
  justify-content: center;
}

.navBar ul {
  display: flex;
}

.navBar ul li {
  margin-left: 10px;
  list-style: none;
}

/* ============================================= */
/* ============================================= */
/* CV Layout */
/* ============================================= */
/* ============================================= */

.contactForm p {
  font-size: 1.5rem;
}

.contactForm h1 {
  font-size: 5rem;
}

.contactForm .contact {
  display: flex;
  align-items: center;
}

.contactForm .contact-column {
  display: flex;
  flex-direction: column;
}

.contactForm .icons {
  display: flex;
}

.contactForm i {
  margin-right: 5px;
}

/* ============================================= */
/* ============================================= */
/* Portfolio / Project Detail*/
/* ============================================= */
/* ============================================= */

/* ---------------------------------------------
 Portfolio
------------------------------------------------*/

.project {
  padding: 0 20px;
}

/* ---------------------------------------------
 Project Detail
------------------------------------------------*/

.titlePicture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.titlePicture .projectTitle {
  font-size: 5rem;
  background: #fff;
  padding: 10px 20px;
  margin: 0 10px;
}

.projectDescription {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  padding: 10px 0;
  font-size: 2rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projectContent {
  width: 510px;
  margin: 0 10px;
  padding: 15px 0;
}

.projectContent .projectImg {
  background: #000;
  padding: 20px;
  margin-bottom: 10px;
}

.projectContent img {
  width: 100%;
}

.projectContent p {
  font-size: 1.8rem;
}

/*============= Project Dashboard =============*/

.portfolioList {
  display: flex;
  margin: 20px 0;
}

.portfolioList .imgBg {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*============= Job Dashboard =============*/
.jobList {
  display: flex;
  overflow-x: scroll;
}

/*============= Portfolio Dashboard =============*/

.portfolioEdit .portfolioButton {
  display: flex;
  justify-content: space-around;
}

/*============= Portfolio / Projects =============*/

.projectPosition {
  display: flex;
  justify-content: center;
}

.projectWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects {
  margin: 20px;
}

.projects .imgBgDark {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*============= Jobs =============*/

.jobs {
  margin: 20px 10px 20px 0;
}

.jobs .center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jobs .center p {
  font-size: 2rem;
  font-weight: 900;
  color: #fff;
  background: blue;
  padding: 10px 20px;
}

/* ===================================================

Mobile

====================================================== */

@media only screen and (max-width: 1099px) {
  /* ============================================= */
  /* ============================================= */
  /* Portfolio / Project Detail*/
  /* ============================================= */
  /* ============================================= */

  .projectContent {
    width: 700px;
  }
}

@media only screen and (max-width: 990px) {
  /* ============================================= */
  /* ============================================= */
  /* Login Signin CV Form */
  /* ============================================= */
  /* ============================================= */

  /* CV */
  .form-card input {
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 10px;
  }

  /* ============================================= */
  /* ============================================= */
  /* NavBar */
  /* ============================================= */
  /* ============================================= */

  .navBarPosition {
    position: absolute;
    width: 100%;
    bottom: 70px;
  }

  .navBar {
    display: none;
  }

  .MobileNavBar {
    display: block;
    width: 100vw;
    background: #fff;
    padding: 10px 10px;
    box-shadow: 0px -2px 10px -2px rgba(0, 0, 0, 0.2);
  }

  .MobileNavBar i {
    font-size: 3rem;
  }

  .MobileNavBar .btn {
    width: 100%;
  }

  .MobileNavBar li {
    width: 100vw;
  }

  .navBarPosition .MobileNavBar {
    position: fixed;
    font-size: 2rem;
  }

  .navBarPosition .MobileNavBar ul {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .navBarPosition .MobileNavBar ul li {
    margin-right: 10px;
    list-style: none;
  }

  /* ============================================= */
  /* ============================================= */
  /* Login Signin CV Form */
  /* ============================================= */
  /* ============================================= */

  /* Login/Signin */

  .form {
    width: 95%;
  }

  /* CV */

  .form-card input {
    margin-bottom: 10px;
  }

  /* ============================================= */
  /* ============================================= */
  /* Portfolio / Project Detail*/
  /* ============================================= */
  /* ============================================= */

  .titlePicture {
    height: 450px;
  }

  .titlePicture .projectTitle {
    font-size: 4rem;
  }

  .projectDescription {
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.8rem;
  }

  .projectContent p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 400px) {
  /* ============================================= */
  /* ============================================= */
  /* NavBar */
  /* ============================================= */
  /* ============================================= */

  .MobileNavBar i {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 320px) {
  /* ============================================= */
  /* ============================================= */
  /* NavBar */
  /* ============================================= */
  /* ============================================= */

  .MobileNavBar i {
    font-size: 1.8rem;
  }
}
